<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvvmapp" >
    <uses-permission android:name="android.permission.INTERNET" />

    //Manifeste name kısmını eklemen gerekiyor.Dagger için bu gerekli.
    <application
        android:name=".MvvmAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_favori"
        android:label="Mvvm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetrofitRecyclerview">
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>